- case result["wrapperType"]

- when "track"

  %p= link_to result["trackName"], result["trackViewUrl"]
  %p= image_tag result["artworkUrl100"]
  %p= raw result["longDescription"]

- when "collection"

  %p= link_to result["collectionName"], result["collectionViewUrl"]
  %p= image_tag result["artworkUrl100"]
  %p= raw result["longDescription"]

- when "artist"

  %p artists are not yet implemented

%p= result.inspect
