.top-label
  %h1 Here are the searches you've made

.top-controls
  - if current_user && current_user.searches.count > 0
    %a{:href => toggle_all_emails_searches_path}
      - if current_user.searches.all?(&:monitor_by_email)
        = image_tag "mail-active.png", width: 48, height: 32
      - else
        = image_tag "mail-inactive.png", width: 48, height: 32


%table.basic.searches

  %tbody

    - @searches.sort.each do |search|

      %tr{"data-id" => search.id}

        %td.center
          %a.delete-search{:href => destroy_search_path(search), method: :delete}
            = image_tag "x2.png", width: 28, height: 28

        %td
          %a{:href => search_path(search)}
            - if search.records.length > 0
              = image_tag search.records.first.artwork_url
            - else
              = image_tag "no-records.png"

        %td= link_to search.term, search_path(search), :class => "search-term", "data-pjax" => "#main-payload"

        %td= pluralize search.records.length, search.style.downcase.singularize

        %td= render 'monitor_by_email', search: search


%h3= link_to "Create a new Search", new_search_path
