%h1 Your Searches

%table.basic.searches

  %tbody

    - @searches.sort.each do |search|

      %tr{"data-id" => search.id}

        %td.center
          %a.delete-search{:href => destroy_search_path(search), method: :delete}
            = image_tag "x2.png", width: 28, height: 28
        %td
          %a{:href => search_path(search)}
            - if search.records.count > 0
              = image_tag search.records.first.artwork_url
            - else
              = image_tag "no-records.png"
        %td= link_to search.term, search_path(search)
        %td= search.style
        %td
          %a.monitor-by-email-toggler{:href => monitor_by_email_search_path(search), "data-monitoring" => search.monitor_by_email.to_s}
            - if search.monitor_by_email
              = image_tag "mail-active.png", width: 48, height: 32
            - else
              = image_tag "mail-inactive.png", width: 48, height: 32

%h3= link_to "Create a new Search", new_search_path
