.tabbable.tabs-left

  .span2

    %ul.nav.nav-tabs

      = search_tab_for "tvShow", "TV Shows"
      = search_tab_for "movie", "Movies"

  .span8

    .tab-content.pull-right

      = search_form_for @search, "tvShow" do |f|
        %h2 Search for TV Shows
        = hidden_field_tag "search[parameters][attribute]", "showTerm"
        %p= text_field_tag "search[parameters][term]", "", placeholder: "Search iTunes", autofocus: "autofocus"
        %p
          %label.radio
            = radio_button_tag "search[parameters][entity]", "tvEpisode", false
            By Episode
          %label.radio
            = radio_button_tag "search[parameters][entity]", "tvSeason", true
            By Season
        %p= submit_tag "Search", :class => "btn btn-primary"

      = search_form_for @search, "movie" do 
        %h2 Search for Movies
        = hidden_field_tag "search[parameters][attribute]", "movieTerm"
        %p= text_field_tag "search[parameters][term]", "", placeholder: "Search iTunes", autofocus: "autofocus"
        %p= submit_tag "Search", :class => "btn btn-primary"
