.span2

  &nbsp;

.span8

  %h2 Create a new search

  = simple_form_for @search do |f|

    = f.input :term, as: :string, label: false, required: false, placeholder: "Search iTunes by name", autofocus: true

    = f.input :style, as: :radio_buttons, collection: [ "Movies", "TV Seasons", "TV Episodes" ], required: false, label: false

    - if current_user
      = f.input :monitor_by_email, as: :boolean, label: "Email me about new releases that match this search", hint: "This option will not email you about items that are found at the time the search is created.", input_html: { checked: "checked" }

    = submit_tag "Search", :class => "btn btn-primary"
