%h1 #{pluralize @search.records.count, 'search results'} for #{describe_search @search}

%table.basic.search

  - @search.records.order("release_date DESC").each do |record|

    %tr
      %td
        %a{:href => record.url}
          = image_tag record.artwork_url
      %td
        %h2= link_to record.name, record.url
        %p= raw record.description
        %p Release Date: #{record.release_date}

%h3= link_to "Return to Saved Searches", searches_path
