.top-label
  %h1 #{pluralize @search.records.count, @search.style.downcase.singularize} match <em>#{@search.term}</em>

.top-controls
  = render 'monitor_by_email', search: @search

%table.basic.search

  - @search.records.all.sort.reverse.each do |record|

    %tr

      %td
        %a{:href => record.url}
          = image_tag record.artwork_url

      %td
        %h2= link_to record.name, record.url
        %p= raw record.description
        %p Release Date: #{record.release_date}
        - if record.respond_to? :season
          %p Season: #{record.season}
        - if record.respond_to?(:track) && record.respond_to?(:track_count)
          %p Track: #{record.track} / #{record.track_count}

%h3= link_to "Return to Saved Searches", searches_path
