!!!
%html

  %head

    %title Upcoming

    %script{src: "http://use.typekit.com/lfo2llh.js"}
    %script try{Typekit.load();}catch(e){}

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav
            %li= image_tag "28-star.png", width: 26, height: 26
            %li= link_to "Upcoming", root_path, :class => "brand"
            %li{:class => "#{active_if 'searches#new'}"}= link_to "Search", new_search_path
            %li{:class => "#{active_if 'searches#index'}"}= link_to "Saved Searches", searches_path
            - if @unacknowledged_search_results.present?
              %li= link_to pluralize(@unacknowledged_search_results.count, "New Matches"), search_results_path
            - if current_user
              %li{:class => active_if('users#edit')}= link_to current_user.email, edit_user_path(current_user)
              %li= link_to "Sign Out", sign_out_path, method: "delete"
            - else
              %li{:class => active_if('user_sessions#new')}= link_to "Sign In", new_user_session_path
              %li.sign-up{:class => active_if('users#new')}= link_to "Sign Up!", new_user_path

    #main-content.container
      - if flash[:error].present?
        .alert.fade.in.alert-error
          %a.close{"data-dismiss" => "alert", :href => "#"} &times;
          = flash[:error]
      - if flash[:notice].present?
        .alert.fade.in.alert-notice
          %a.close{"data-dismiss" => "alert", :href => "#"} &times;
          = flash[:notice]
      - if flash[:alert].present?
        .alert.fade.in.alert-error
          %a.close{"data-dismiss" => "alert", :href => "#"} &times;
          = flash[:alert]
      = yield

    #main-footer.container
      %p
        Upcoming is a production of Alex McHale, as #{link_to "Anti Clever Software", "http://anticlever.com"}
      %p
        You can reach Alex on Twitter as #{link_to "@alexmchale", "http://twitter.com/alexmchale"} or
        by email at #{link_to "alex@anticlever.com", "mailto:alex@anticlever.com"}
      %p
        All movie and tv show data on Upcoming is provided by #{link_to "Apple Inc", "http://apple.com"}
