!!!
%html

  %head

    %title Upcoming

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav
            %li= image_tag "28-star.png", width: 26, height: 26
            %li= link_to "Upcoming", root_path, :class => "brand"
            %li{:class => "#{active_if 'searches#new'}"}= link_to "Search", new_search_path
            %li{:class => "#{active_if 'searches#index'}"}= link_to "Saved Searches", searches_path

    #main-content.container
      - if flash[:error].present?
        .alert.fade.in.alert-error
          %a.close{"data-dismiss" => "alert", :href => "#"} &times;
          = flash[:error]
      - if flash[:notice].present?
        .alert.fade.in.alert-notice
          %a.close{"data-dismiss" => "alert", :href => "#"} &times;
          = flash[:notice]
      = yield

    #main-footer.container
      Upcoming is a production of #{link_to "Anti Clever Software", "http://anticlever.com"}.
